# Output Files
spectral_unmixing/output*
!.gitkeep
*.png

# Backup Files
backup/*
*.bak

# Test Files
texture_Takido/*
spectral_unmixing/Data/r02_matlab_coral_species/*
*.bak

# MATLAB temp. files
*.asv
*.mat


